.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left,
#lezioni .row > .right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

/* COMMON */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* ----------------------------------------------- */

/* Bonus - Tablet */
@media screen and (min-width: 576px) and (max-width: 1199px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
  }

  body {
    height: 100vh;
  }

  #lezioni .row {
    margin: 0;
    width: 100%;
    background-color: rgb(223, 137, 154);
    transition: 2s;
  }

  #lezioni .row > h1,
  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 100%;
    padding: 20px;
  }

  #steps .row {
    margin: 0;
    width: 100%;
    background-color: rgb(226, 70, 101);
    transition: 2s;
  }

  #steps .row > h1,
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    width: 100%;
    padding: 20px;
  }

  #why .row {
    margin: 0;
    width: 100%;
    background-color: rgb(223, 137, 154);
    transition: 2s;
  }

  #why .row > h1 {
    padding-top: 20px;
  }

  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100%;
    margin-top: 10px;
    padding: 0 20px 20px 20px;
  }

  #why .row img {
    background-color: crimson;
    border-radius: 50%;
    padding: 0;
  }

  #why hr {
    height: 5px;
    background-color: crimson;
    border: 1px solid crimson;
    margin: 20px auto;
  }

  .first > hr {
    width: 35%;
  }

  .second > hr {
    width: 70%;
  }

  h3 {
    color: black;
    padding: 10px 0 10px 0;
  }

  #why {
    border-bottom: 5px solid crimson;
  }
  /*  */
}

/* Smartphone (Mobile) */
@media screen and (min-width: 320px) and (max-width: 575px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #lezioni .row {
    margin: 0;
    width: 100%;
    background-color: #ededc5;
    transition: 2s;
  }

  #lezioni .row > h1,
  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 100%;
    padding: 20px;
  }

  #steps .row {
    margin: 0;
    width: 100%;
    background-color: #fff;
    transition: 2s;
  }

  #steps .row > h1,
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    width: 100%;
    padding: 20px;
  }

  #why .row {
    margin: 0;
    width: 100%;
    background-color: #ededc5;
    transition: 2s;
  }

  #why .row > h1 {
    padding-top: 20px;
  }

  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100%;
    margin-top: 20px;
    padding: 0 20px 20px 20px;
  }

  #why .row img {
    background-color: #428bca;
    border-radius: 50%;
    padding: 0;
  }
}
/*  */
